.container {
  max-width: 1000px;
}

.section-title {
  text-align: center;
  padding-bottom: 50px;
  h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5c768d;
  }
  p {
    margin-bottom: 0;
  }
  a{
    color: #0478d9;
    &:hover{
      color: #036ec5;
    }
  }
}

.team {
  background: #fff;
  padding: 60px 0 40px 0;
  .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    .picture {
      overflow: hidden;
    }
    img {
      transition: all ease-in-out 0.4s;
    }
    &:hover img {
      transform: scale(1.1);
    }
    .member-info {
      position: absolute;
      bottom: -48px;
      left: 20px;
      right: 20px;
      background: linear-gradient(
        360deg,
        #0478d9 0%,
        #1b7dce6e 35%,
        #1e73b8e1 100%
      );
      padding: 15px 0;
    }
    h4 {
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 16px;
      color: #fff;
      position: relative;
      padding-bottom: 10px;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 80px;
        height: 1px;
        background: #fff;
        bottom: 0;
        left: calc(50% - 40px);
      }
    }
    span {
      font-style: italic;
      display: block;
      font-size: 13px;
      color: #fff;
    }
    .social {
      margin-top: 15px;
      a {
        transition: color 0.3s;
        color: #fff;
        :hover {
          color: #f2c84b;
        }
      }
      i {
        font-size: 16px;
        margin: 0 7px;
      }
    }
  }
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 100px;
  }
}
