<section id="team" class="team">
    <div class="container">
        <div class="section-title">
            <h2>Nhóm Phát Triển</h2>
            <p>Chúng tôi là nhóm sinh viên IT thuộc Trường Đại học Nông Lâm TP.HCM, đây là dự án Website Tin Tức mà nhóm chúng tôi thực hiện</p>
            <p>QNT là một trang web báo điện tử lấy thông tin trực tiếp từ RSS của trang <a target="_blank" href="https://thanhnien.vn/">thanhnien.com.vn</a>. </p>
                <p>Sử dụng các công nghệ: HTML, CSS, ANGULAR để hoàn thiện trang web</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up">
                <div class="member">
                    <div class="picture"><img src="./assets/img/HT.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Vũ Hoàng Trung</h4>
                        <span>18130259</span>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/trung926"><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="picture"><img src="./assets/img/MQ.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Châu Vũ Minh Quân</h4>
                        <span>18130185</span>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/cvminhquan/"><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="picture"><img src="./assets/img/MN.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Phan Minh Nhật</h4>
                        <span>18130165</span>
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/nhat.phan.1614"><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
