<app-header></app-header>

<section id="team" class="team">
    <div class="container">
        <div class="section-title">
            <h2>Nhóm Phát Triển</h2>
            <p>Chúng tôi là nhóm sinh viên IT thuộc Trường Đại học Nông Lâm TP.HCM, đây là dự án Website Tin Tức mà nhóm chúng tôi thực hiện</p>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up">
                <div class="member">
                    <div class="picture"><img src="./assets/img/avatar.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Vũ Hoàng Trung</h4>
                        <span>18130259</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-instagram" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="100">
                <div class="member">
                    <div class="picture"><img src="./assets/img/avatar.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Châu Vũ Minh Quân</h4>
                        <span>18130185</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-instagram" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="200">
                <div class="member">
                    <div class="picture"><img src="./assets/img/avatar.jpg" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4>Phan Minh Nhật</h4>
                        <span>18130165</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-facebook" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-instagram" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true" style="font-family: 'FontAwesome';"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>