p {
  color: #828282;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

.single-post {
  position: relative;
  z-index: 1;
  .post-image {
    overflow: hidden;
    a {
      display: block;
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        transition-duration: 500ms;
        &:hover {
          opacity: 0.85;
          transition-duration: 500ms;
        }
      }
    }
  }
  .post-data {
    padding: 20px 0;
    .post-title {
      display: block;
      h6 {
        transition-duration: 500ms;
        line-height: 1.9;
        color: #152535;
        font-size: 18px;
        font-weight: 500;
        &:hover,
        &:focus {
          color: #0487d9;
        }
      }
    }
    .post-meta {
      .post-date {
        display: block;
        span {
          cursor: pointer;
          &:hover,
          &:focus {
            color: #0487d9;
          }
        }
      }
    }
  }
}
