ul,
ol {
  margin: 0;
  li {
    list-style: none;
  }
}


.single-blog-post {
  position: relative;
  border-bottom: 1px solid #d0d5d8;
  z-index: 1;
  .post-thumb {
    a {
      display: block;
      img {
        object-fit: cover;
        height: 90px;
        width: 100%;
        &:hover {
          opacity: 0.85;
          transition-duration: 500ms;
        }
      }
    }
  }
  .post-data {
    padding: 30px 0;
    .post-catagory {
      font-size: 14px;
      color: #0487d9;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
      display: block;
    }
    .post-title {
      display: block;
      h6 {
        transition-duration: 500ms;
        line-height: 1.9;
        color: #152535;
        &:hover,
        &:focus {
          color: #0487d9;
        }
      }
    }
    .post-meta {
      .post-date {
        a {
          display: block;
          &:hover,
          &:focus {
            color: #0487d9;
          }
        }
      }
    }
  }
  &.small-featured-post {
    position: relative;
    z-index: 1;
    padding: 20px 0;
    .post-thumb {
      overflow: hidden;
      flex: 0 0 90px;
      max-width: 90px;
      width: 90px;
      margin-right: 15px;
    }
    .post-data {
      padding: 0;
      .post-catagory {
        margin-bottom: 10px;
        line-height: 1;
      }
      .post-title {
        h6 {
          font-size: 14px;
          line-height: 1.6;
          margin-bottom: 10px;
          font-weight: 700;
        }
      }
      .post-date {
        margin-bottom: 0;
        line-height: 1;
      }
    }
    // &:first-child {
    //   padding-top: 0;
    // }
    // &:last-child {
    //   padding-bottom: 0;
    //   border-bottom: none;
    // }
  }
}
