<div class="row">
  <div class="col-12 col-md-6" *ngFor="let item of RssData!.rss.channel[0].item; index as i">
    <div class="single-blog-post style-3" *ngIf="i>=6 && i<8">
      <div class="post-image">
          <a><img src="{{item.image}}" alt="" /></a>
      </div>
      <div class="post-data">
          <!-- <a class="post-catagory" target="_blank"></a> -->
          <a class="post-title" (click)="getTitle(item.title)" (click)="clicktop()">
              <h6>{{ item.title }}</h6>
          </a>
          <p class="post-date"><span>{{item.pubDate | dateAgo}}</span> | <span>{{item.pubDate | date:'HH:mm, dd/MM/yyyy'}}</span></p>
          <div class="post-meta d-flex align-items-center">
              <a class="post-like"><img src="../../../assets/img/like.png" alt="" /> <span>13</span></a>
              <a class="post-comment"><img src="../../../assets/img/chat.png" alt="" /> <span>0</span></a>
          </div>
      </div>
    </div>
  </div>
</div>
