p {
  color: #c0c0c0;
}
.container {
  max-width: 1150px;
}


footer {
  margin-top: 1rem;
  background: linear-gradient(to right, #00093c, #2d0b00);
  padding-top: 50px;
  padding-bottom: 50px;

  h4 {
    position: relative;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }


  ul {
    padding-left: 0;
    li {
      list-style: none;
      margin-bottom: 12px;
      a {
        text-decoration: none;
        color: #c0c0c0;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  .social-icons li {
    display: inline-block;
    padding: 15px 5px 15px 0px;
    margin-bottom: 0;
    color: #000000;
  }

  .social-icons {
    li a {
      font-size: 18px;
      height: 40px;
      width: 40px;
      border-radius: 30px;
      color: #fff;
      background: transparent;
      line-height: 38px;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      border: 1px solid transparent;
    }
    .facebook-bg-hvr:hover {
      background: #4267b2;
      color: #fff;
      border: 1px solid transparent;
    }

    .twitter-bg-hvr:hover {
      background: #1da1f2;
      color: #fff;
      border: 1px solid transparent;
    }

    .instagram-bg-hvr:hover {
      color: #ffffff;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#aa2fb5),
        color-stop(93%, #f1762c)
      );
      background: -o-linear-gradient(top, #aa2fb5 0%, #f1762c 93%);
      background: linear-gradient(to bottom, #aa2fb5 0%, #f1762c 93%);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    .linkedin-bg-hvr:hover {
      background: #0077b5;
      color: #fff;
      border: 1px solid transparent;
    }

    .pinterest-bg-hvr:hover {
      background: #bd081c;
      color: #fff;
      border: 1px solid transparent;
    }

    .youtube-bg-hvr:hover {
      background: #f00;
      color: #fff;
      border: 1px solid transparent;
    }
  }

  .top-tittle {
    color: #fff;
    font-weight: 900;
    font-size: 21px;
  }
  @media only screen and (max-width: 768px) {
    div{
      text-align: center;
    }
  }
}
