<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-4 text-lg-left">
            <img src="../../assets/img/logo.jpg" alt="" style="height: 80px; width: 200px; margin-top: -20px;">
            <ul style="padding-left: 15px;">
                <li>
                    <p style="font-weight: 500;">Tin tức và phong cách sống</p>
                </li>
                <li>
                    <p style="font-weight: 500;">Tạp chí điện tử Tri thức trực tuyến</p>
                </li>
                <li>
                    <p style="font-weight: 500;">Cơ quan chủ quản: Hội Xuất bản Việt Nam</p>
                </li>
                <li>
                    <p style="font-weight: 500;">Toàn bộ bản quyền thuộc Tri thức trực tuyến</p>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-lg-5">
          <div class="row">
            <div class="col-12 col-md-6">
              <h4 class="top-tittle text-md-left">Liên kết nhanh</h4>
              <ul style="margin-top: 31px;">
                  <li><a href="">Trang chủ</a></li>
                  <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">Giới thiệu</a></li>
                  <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Liên hệ</a></li>
              </ul>
          </div>
          <div class="col-12 col-md-6">
              <h4 class="top-tittle text-md-left">Đặc sắc</h4>
              <ul style="margin-top: 31px;">
                  <li><a [routerLink]="['/xahoi']" routerLinkActive="router-link-active">Xã hội</a></li>
                  <li><a [routerLink]="['/suckhoe']" routerLinkActive="router-link-active">Sức khỏe</a></li>
                  <li><a [routerLink]="['/phapluat']" routerLinkActive="router-link-active">Pháp luật</a></li>
                  <li><a [routerLink]="['/doisong']" routerLinkActive="router-link-active">Đời sống</a></li>
                  <li><a [routerLink]="['/thethao']" routerLinkActive="router-link-active">Thể thao</a></li>
                  <li><a [routerLink]="['/thegioi']" routerLinkActive="router-link-active">Thế giới</a></li>
              </ul>
          </div>

          </div>
        </div>
        <div class="col-sm-12 col-lg-3 text-lg-left">
            <h4 class="top-tittle">Theo dõi QTN24h trên</h4>
            <div class="social-icons">
              <ul>
                <li><a class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a class="youtube-bg-hvr"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                <li><a class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a class="pinterest-bg-hvr"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div>
                <ul class="list">
                    <li>
                        <p style="font-weight: 500;">Email: 18130259@st.hcmuaf.edu.vn</p>
                    </li>
                    <li>
                        <p style="font-weight: 500;">SĐT: 0974838004</p>
                    </li>
                    <li>
                        <p style="font-weight: 500;">Địa chỉ: Trường ĐH Nông Lâm TP.HCM, Linh Trung, TP.Thủ Đức, TP.HCM</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</footer>
