<footer>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/logo.png" alt="" style="height: 80px; width: 200px; margin-top: -20px;">
            <ul style="margin-left: 15px;">
                <li>
                    <p style="font-weight: 500;">Tin tức và phong cách sống</p>
                </li>
                <li>
                    <p style="font-weight: 500;">Tạp chí điện tử Tri thức trực tuyến</p>
                </li>
                <li>
                    <p style="font-weight: 500;">Cơ quan chủ quản: Hội Xuất bản Việt Nam</p>
                </li>
                <li>
                    <p style="font-weight: 500;">Toàn bộ bản quyền thuộc Tri thức trực tuyến</p>
                </li>
            </ul>
        </div>
        <div class="col">
            <h3 class="top-tittle">Liên kết nhanh</h3>
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Liên hệ</a></li>
            </ul>
        </div>
        <div class="col">
            <h3 class="top-tittle">Đặc sắc</h3>
            <ul>
                <li><a [routerLink]="['/xahoi']" routerLinkActive="router-link-active">Xã hội</a></li>
                <li><a [routerLink]="['/suckhoe']" routerLinkActive="router-link-active">Sức khỏe</a></li>
                <li><a [routerLink]="['/phapluat']" routerLinkActive="router-link-active">Pháp luật</a></li>
                <li><a [routerLink]="['/doisong']" routerLinkActive="router-link-active">Đời sống</a></li>
                <li><a [routerLink]="['/thethao']" routerLinkActive="router-link-active">Thể thao</a></li>
                <li><a [routerLink]="['/thegioi']" routerLinkActive="router-link-active">Thế giới</a></li>
            </ul>
        </div>

        <div class="col">
            <h3 class="top-tittle">Theo dõi QTN24h trên:</h3>
            <div class="social-icons">
                <i class="fab fa-facebook-f" aria-hidden="true"></i>
                <i class="fab fa-youtube" aria-hidden="true"></i>
                <i class="fab fa-twitter" aria-hidden="true"></i>
                <i class="fab fa-instagram" aria-hidden="true"></i>
                <i class="fab fa-youtube" aria-hidden="true"></i>
            </div>
            <div>
                <ul class="list">
                    <li>
                        <p style="font-weight: 500;">Email: 18130259@st.hcmuaf.edu.vn</p>
                    </li>
                    <li>
                        <p style="font-weight: 500;">SĐT: 0974838004</p>
                    </li>
                    <li>
                        <p style="font-weight: 500;">Địa chỉ: ĐH Nông Lâm TP.HCM, Linh Trung, TP.Thủ Đức, TP.HCM</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>