<app-header></app-header>
<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <!-- Single Featured Post -->
                    <div class="single-blog-post featured-post single-post">
                        <div class="post-thumb">
                            <a href="#"><img src="assets/img/single-post/tintuc1.png" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="#" class="post-catagory">Sức khỏe</a>
                            <a href="#" class="post-title">
                                <h6>Diễn biến dịch 22/5: Khu công nghiệp "nóng", 
                                    bầu cử sớm trong khu cách ly</h6>
                            </a>
                            <div class="post-meta">
                                <p>Bắc Giang đứng đầu cả nước về số ca mắc Covid-19 trong 24h qua với 84 trường hợp. Khu công nghiệp
                                    ở nhiều địa phương hiện vẫn là điểm nóng Covid-19.
                                    </p>
                                <p>Trong 24h qua, từ tối 21 tới tối 22/5, Việt Nam có 145 ca mắc mới Covid-19. Sáng 22/5, Bộ Y tế thông 
                                    báo 20 ca mắc mới Covid-19, buổi trưa thêm 52 ca và bản tin buổi tối thông báo thêm con số lớn nhất 
                                    trong ngày là 73 ca.</p>
                                <p>Bắc Giang thêm 84 ca mắc Covid-19 mới. Địa phương này hiện là "điểm nóng nhất" trên bản đồ dịch 
                                    mùa 4 ở nước ta. Khởi đầu từ F0 là nam công nhân tại Công ty TNHH Shinyoung Việt Nam, thuộc Khu 
                                    công nghiệp Vân Trung, huyện Việt Yên được ghi nhận vào ngày 8/5, đến nay toàn tỉnh đã ghi nhận 
                                    851 ca mắc Covid-19, tập trung tại 3 ổ dịch là: Khu công nghiệp Vân Trung; Khu công nghiệp Quang Châu
                                     và ổ dịch cộng đồng tại xã Phương Sơn, huyện Lục Nam.</p>
                                <div class="caption">
                                    <img src="assets/img/single-post/tintuc2.png" alt=""/>
                                    <p style="text-align: center;" class="caption-text">Thu thập thông tin phục vụ lấy mẫu xét nghiệm Covid-19 cho 10.000 công nhân KCN ở ổ dịch 
                                        Bắc Giang.</p>
                                </div>
                                <p>Dự báo trong những ngày tới số lượng ca F0 tại các ổ dịch khu công nghiệp vẫn tiếp tục tăng do các 
                                    công nhân là trường hợp F1 đã tiếp xúc đến giai đoạn bệnh khởi phát và số lượng mẫu xét nghiệm 
                                    được lấy tiếp tục có kết quả. Hiện nay, đang tiếp tục rà soát các trường hợp liên quan đưa đi cách ly 
                                    tập trung.</p>
                            </div>
                        </div>
                    </div>

                    

                    <div class="pager d-flex align-items-center justify-content-between">
                        <div class="prev">
                            <a href="#" class="active"><i class="fa fa-angle-left"></i> trước</a>
                        </div>
                        <div class="next">
                            <a href="#">Sau <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>

                    

               
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Latest Posts Widget -->
                    <div class="latest-posts-widget mb-50">

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/sk.png" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Sức khỏe</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>Nữ bệnh nhân Covid-19 ở Đà Nẵng tử vong</h6>
                                    </a>
                                    <p class="post-date"><span>5</span><span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/xh.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Xã hội</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>
                                            Chủ tịch TPHCM nói về mục tiêu 2/3 dân số được tiêm vắc xin trong năm nay 
                                        </h6>
                                    </a>
                                    <p class="post-date"><span>7</span> <span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/pl.png" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Pháp luật</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>
                                            Út "trọc" thẫn thờ nghe tòa tuyên y án tù chung thân 
                                        </h6>
                                    </a>
                                    <p class="post-date"><span>9</span> <span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/gt.png" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Giải trí</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>
                                            BTS phá kỷ lục chính mình với MV mới "Butter"
                                        </h6>
                                    </a>
                                    <p class="post-date"><span>6</span> <span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/vh.png" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Văn hóa</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>
                                            Đạo diễn Iran bị gia đình sát hại vì... không kết hôn
                                        </h6>
                                    </a>
                                    <p class="post-date"><span>14</span> <span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- Single Featured Post -->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/tg.jpg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <a href="#" class="post-catagory">Thế giới</a>
                                <div class="post-meta">
                                    <a href="#" class="post-title">
                                        <h6>
                                            Tàu chiến Mỹ - Australia tập trận bắn đạn thật trên Biển Đông        
                                        </h6>
                                    </a>
                                    <p class="post-date"><span>8</span> <span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Popular News Widget -->
                    <div class="popular-news-widget mb-50">
                        <h3>Tin tức phổ biến</h3>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="#">
                                <h6><span>1.</span>Malaysia quyết tâm cao vượt mặt đội tuyển Việt Nam.</h6>
                            </a>
                            <p>5 <span>giờ trước</span></p>
                        </div>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="#">
                                <h6><span>2.</span>Báo Thái Lan: "Nhát kiếm… giữa mặt đội tuyển trước vòng loại World Cup.</h6>
                            </a>
                            <p>5 <span>giờ trước</span></p>
                        </div>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="#">
                                <h6><span>3.</span>Thả 1000 con gián vào nhà hàng để… dằn mặt con nợ.</h6>
                            </a>
                            <p>Thứ Tư 19/05/2021 - 07:33</p>
                        </div>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="#">
                                <h6><span>4.</span>Ông bà lão U70 "bỗng dưng" có 26 "cháu nội".</h6>
                            </a>
                            <p>Thứ Ba 18/05/2021 - 16:53</p>
                        </div>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="#">
                                <h6><span>5.</span>Nhà vườn trốn khói bụi "ngắm mãi không chán" ở Quảng Nam.</h6>
                            </a>
                            <p>Thứ Hai 17/05/2021 - 07:16</p>
                        </div>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="#">
                                <h6><span>6.</span>Chốt hợp đồng tiền tỷ, Phan Văn Đức quyết lấy vé đi UAE.</h6>
                            </a>
                            <p>23 <span>giờ trước</span></p>
                        </div>

                        <!-- Single Popular Blog -->
                        <div class="single-popular-post">
                            <a href="#">
                                <h6><span>7.</span>Cuộc đua top 4 Premier League: Nỗi đau giằng xé</h6>
                            </a>
                            <p>Thứ Năm 20/05/2021 - 16:48</p>
                        </div>
                    </div>

                
                </div>
            </div>

            
        </div>
        <div>
            

            <div class="row">
                <!-- Single Post -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-post style-3 mb-80">
                        <div class="post-data">
                            <a href="#" class="post-catagory">Sức khỏe</a>
                            <a href="#" class="post-title">
                                <h6>
                                    Bộ Y tế công bố 2 ca tử vong liên quan đến Covid-19
                                </h6>
                            </a>
                           
                        </div>
                        <div class="relate-news" style="display: flex;">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/suckhoerealte1.jpeg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <div class="post-meta" style="padding: 0 3%;">
                                    <a href="#" class="post-title">
                                        <p> Chiều 11/6, Bộ Y tế cho biết nước ta có thêm 2 ca tử vong nữa là 2 bệnh nhân nữ ở Ninh Bình và Hà Nam, đều có tiền sử ung thư, nâng tổng số bệnh nhân tử vong tại nước ta lên 57.
                                        </p>
                                    </a>
                                    <p class="post-date"><span>7</span><span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Single Post -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-post style-3 mb-80">
                        <div class="post-data">
                            <a href="#" class="post-catagory">Sức khỏe</a>
                            <a href="#" class="post-title">
                                <h6>Phong tỏa chung cư, xét nghiệm gần 900 người vì ca bệnh Covid-19</h6>
                            </a>
                           
                        </div>
                        <div class="relate-news" style="display: flex;">
                            <div class="post-thumb">
                                <a href="#"><img src="assets/img/single-post/suckhoerealte2.jpeg" alt=""></a>
                            </div>
                            <div class="post-data">
                                <div class="post-meta" style="padding: 0 3%;">
                                    <a href="#" class="post-title">
                                        <p>Người đàn ông tự đến bệnh viện kiểm tra sau khi tiếp xúc với ca bệnh, kết quả xét nghiệm cho thấy anh mắc Covid-19...</p>
                                    </a>
                                    <p class="post-date"><span>4</span> | <span> giờ trước</span></p>
                                </div>
                            </div>
                        </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>