<!-- ##### Blog Area Start ##### -->
<app-headline-news></app-headline-news>
<div class="blog-area padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <!-- article-content -->
                    <ng-container *ngFor="let item of newsDetail" >
                        <app-article-content [itemNewsDetail]="item"></app-article-content>
                    </ng-container>
                    <div class="section-heading mt-30">
                        <h6>Tin Liên Quan</h6>
                    </div>
                        <app-related-news></app-related-news>

                </div>
                <!-- Comment Area Start -->
                <div class="comment_area clearfix">
                    <h5 class="title">3 Bình luận</h5>

                    <ol>
                        <!-- Single Comment Area -->
                        <li class="single_comment_area">
                            <!-- Comment Content -->
                            <div class="comment-content d-flex">
                                <!-- Comment Author -->
                                <div class="comment-author">
                                    <img src="assets/img/avt1.jpg" alt="author">
                                </div>
                                <!-- Comment Meta -->
                                <div class="comment-meta">
                                    <a href="#" class="post-author">Nguyễn Lan Hương</a>
                                    <a href="#" class="post-date">22/8/2021</a>
                                    <p>Dịch này m.n hạn chế ra đường và làm theo khuyến cáo của bộ y tế nha.</p>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            <img src="assets/img/avt2.jpg" alt="author">
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">Quách Tùng Lâm</a>
                                            <a href="#" class="post-date">23/8/2021</a>
                                            <p>Đúng rồi, đừng có ra đường hoài như chị đại quận 4 nha =))</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <!-- Single Comment Area -->
                        <li class="single_comment_area">
                            <!-- Comment Content -->
                            <div class="comment-content d-flex">
                                <!-- Comment Author -->
                                <div class="comment-author">
                                    <img src="assets/img/avt3.jpg" alt="author">
                                </div>
                                <!-- Comment Meta -->
                                <div class="comment-meta">
                                    <a href="#" class="post-author">Đỗ Duy Mạnh</a>
                                    <a href="#" class="post-date">25/8/2021</a>
                                    <p>Ý thức phải tốt thì mới mong hết dịch được.</p>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>

                <div class="post-a-comment-area section-padding-80-0">
                    <h4>Để lại bình luận</h4>

                    <!-- Reply Form -->
                    <div class="contact-form-area">
                        <form action="#" method="post" style="padding-bottom: 50px;">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="name" placeholder="Tên*">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="email" class="form-control" id="email" placeholder="Email*">
                                </div>
                                <!-- <div class="col-12">
                                    <input type="text" class="form-control" id="subject" placeholder="Website">
                                </div> -->
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Nội dung"></textarea>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn newspaper-btn mt-30 w-100" type="submit">Bình luận</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Latest Posts Widget -->
                    <div class="latest-posts-widget mb-50">
                        <app-latest-post-categories></app-latest-post-categories>
                    </div>

                    <!-- Popular News Widget -->
                    <div class="hot-news mb-50">
                        <h3>Tin Tức Phổ Biến</h3>
                        <ng-container *ngFor="let item of items; index as id">
                            <app-hot-news *ngIf="id>=12 && id<17" [itemHot]='item'></app-hot-news>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Blog Area End ##### -->
