.box{
    &--spacing{
      margin-top: 1.3rem;
      .row{
        padding: 12px;
        margin: 0 !important;
      }
    }
    &__title{
      font-family: Roboto, sans-serif;
      font-size: 1.6rem;
      margin: 0px;
      font-weight: bold;
      text-align: center;
    }
  
    &__decoration{
      border-bottom: 1px solid #000;
      margin: 0.5rem 7rem;
      margin-bottom: 1rem;
    }
    form{
      .form-group{
        padding-left: 0px;
      }
    }
    @media screen and (min-width:600px) {
      &--spacing{
        margin-top: 1.3rem;
        .row{
          padding: 12px;
          margin: 0 61.136px !important;
        }
      }
      &__title{
        font-family: Roboto, sans-serif;
        font-size: 1.6rem;
        margin: 1.2rem 0 0 4.8rem;
        font-weight: bold;
        text-align: left;
      }
      form{
        margin: 1rem 4.6rem;
        .form-group{
          padding-left: 0px;
        }
      }
    }
  }
  .changePass-heading {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    padding-bottom: 25px;
}

.wrap-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pix-text {
  outline: none;
  border: 1px solid #cbcbcb;
  display: block;
  width: 280px;
  background: white;
  border-radius: 10px;
  font-size: 14px;
  opacity: .8;
  color: black;
  padding: 10px 15px;
}