<app-header></app-header>
<div class="limiter">
    <div class="container-login" style="background-color: #04B2D9;">
        <div class="wrap-login">
            <div class="login-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login-form-title-1">
                    Đăng Ký
                </span>
            </div>

            <form class="login-form validate-form">
                <div class="wrap-input validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input">Tài khoản:</span>
                    <input class="input" type="text" name="username" placeholder="Nhập tài khoản">
                    <span class="focus-input"></span>
                </div>

                <div class="wrap-input validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input">Mật khẩu</span>
                    <input class="input" type="password" name="pass" placeholder="Nhập mật khẩu">
                    <span class="focus-input"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div>
                        <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="txt1">
                            Đã có tài khoản, đăng nhập ngay?
                        </a>
                    </div>
                </div>

                <div class="container-login-form-btn">
                    <button class="login-form-btn">
                        Đăng ký
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>