.container {
  max-width: 1140px;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px;
}

.pagination {
  position: relative;
  z-index: 1;
  .page-link {
    padding: 0;
    font-size: 16px;
    border: none;
    color: #152535;
    width: 38px;
    height: 38px;
    background-color: transparent;
    text-align: center;
    line-height: 38px;
    &:hover,
    &:focus {
      background-color: #152535;
      color: #fff;
    }
  }
  .page-item.active {
    .page-link {
      background-color: #152535;
      color: #fff;
    }
  }
  .page-item {
    &:first-child {
      .page-link {
        border-radius: 0;
      }
    }
    &:last-child {
      .page-link {
        border-radius: 0;
      }
    }
  }
}
.popular-news-widget {
  position: relative;
  z-index: 1;
  background-color: #eff4f9;
  padding: 60px 25px;
  h3 {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #0487d9;
    @media only screen and (max-width: 767px) {
      font-size: 24px;
    }
  }
}
