@import '~bootstrap/dist/css/bootstrap.min.css';
@mixin trans-duration($time) {
    -webkit-transition-duration: $time;
    transition-duration: $time;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #152535;
    line-height: 1.3;
    font-weight: 700;

}
h6{
    font-size: 1rem;
}
p {
    color: #828282;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
}

a,
a:hover,
a:focus {
    @include trans-duration(500ms);
    text-decoration: none;
    outline: 0 solid transparent;
    color: #1c1c1c;
    font-weight: 500;
    font-size: 14px;
    color: #1c1c1c;
}

ul,
ol {
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

.newspaper-btn {
    display: inline-block;
    min-width: 160px;
    height: 52px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 30px;
    font-size: 14px;
    line-height: 52px;
    font-weight: 700;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background-color: #0487D9;
}
.map-area {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    #googleMap {
        width: 100%;
        height: 680px;
        // @media #{$breakpoint-md} {
        //     height: 500px;
        // }
        // @media #{$breakpoint-xs} {
        //     height: 350px;
        // }
    }
}

.single-contact-information {
    position: relative;
    z-index: 1;
    h6 {
        font-size: 14px;
        border-bottom: 2px solid #0487D9    ;
        display: inline-block;
        color: #0487D9;
    }
}

.contact-form-area {
    // @media #{$breakpoint-md} {
    //     margin-bottom: 80px;
    // }
    // @media #{$breakpoint-xs} {
    //     margin-bottom: 80px;
    // }
    .form-control {
        height: 45px;
        width: 100%;
        background-color: #f3f5f8;
        font-size: 12px;
        font-style: italic;
        margin-bottom: 15px;
        border: none;
        border-radius: 0;
        padding: 0 20px;
        @include trans-duration(500ms);
        &:focus {
            box-shadow: none;
        }
    }
    textarea.form-control {
        height: 200px;
        padding: 15px 20px;
        @include trans-duration(500ms);
    }
}

.contact-area {
    position: relative;
    padding: 5%;
    z-index: 1;
    .contact-title h2 {
        font-size: 40px;
        color: #393939;
        margin-bottom: 80px;
        // @media #{$breakpoint-xs} {
        //     font-size: 30px;
        // }
    }
}