<div class="single-blog-post featured-post single-post">
  <div class="post-thumb">
      <a href="#"><img src="img/bg-img/25.jpg" alt=""></a>
  </div>
  <div class="post-data">
      <a href="#" class="post-catagory">Đời Sống</a>
      <a href="#" class="post-title">
          <h6>{{item.newTitle}}</h6>
      </a>
      <h2>{{item.p}}</h2>
      <div class="post-meta">
          <!-- <p class="post-author">By <a href="#">Christinne Williams</a></p> -->
          <p>{{item.p1}}</p>

              <!-- Post Like & Post Comment -->
              <div class="d-flex align-items-center post-like-comments">
                  <a href="#" class="post-like"><img src="../../../assets/img/like.png" alt=""> <span>392</span></a>
                  <a href="#" class="post-comment"><img src="../../../assets/img/chat.png" alt=""> <span>10</span></a>
              </div>

      </div>
  </div>
</div>
