<div class="single-blog-post featured-post single-post">
  <div class="post-data">
    <a class="post-catagory">{{ item.categories }}</a>
    <a class="post-title"><h6>{{ item.newsTitle }}</h6></a>
    <p class="post-desciption">{{ item.description }}</p>
    <div class="post-image">
      <div innerHtml="{{ item.imageUrl }}"></div>
    </div>

    <div class="post-meta">
      <div class="author-date d-flex align-items-center justify-content-between">
        <p class="post-author d-flex">
          <a>{{ item.author }}</a>
        </p>
        <p class="post-date d-flex align-items-center">{{ item.pubDate }}</p>
      </div>

      <p class="post-content" innerHtml="{{ item.content }}"></p>
      <!-- Post Like & Post Comment -->
      <div class="d-flex align-items-center post-like-comments">
        <a class="post-like"><img src="../../../assets/img/like.png" alt="" /> <span>35</span></a>
        <a class="post-comment"><img src="../../../assets/img/chat.png" alt="" /> <span>0</span></a>
      </div>
    </div>
  </div>
</div>
<div class="comment-facebook" style="margin-bottom: 30px;">
  <div class="fb-comments" data-href="http://localhost:4200/single-post/?id=`${item.title}`"  data-numposts="5" data-mobile="Auto-detected" data-order-by="reverse_time"></div>
</div>
