p {
  color: #828282;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
}

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #1c1c1c;
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}

ul,
ol {
  margin: 0;
  li {
    list-style: none;
  }
}

.single-post {
  position: relative;
  // margin-bottom: 30px;
  z-index: 1;
  padding: 20px 0px 0px;
  .post-image {
    overflow: hidden;
    a {
      display: block;
      img {
        display: block;
        width: 100%;
        height: 350px;
        object-fit: cover;
        transition-duration: 500ms;
        &:hover {
          opacity: 0.85;
          transition-duration: 500ms;
        }
      }
    }
  }
  .post-data {
    padding: 30px 0;
    .post-catagory {
      font-size: 14px;
      color: #0487d9;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 10px;
      display: block;
    }
    .post-title {
      display: block;
      h6 {
        transition-duration: 500ms;
        line-height: 1.9;
        color: #152535;
        &:hover,
        &:focus {
          color: #0487d9;
        }
      }
    }
    .post-meta {
      .post-date {
        a {
          display: block;
          &:hover,
          &:focus {
            color: #0487d9;
          }
        }
      }
      .post-like {
        display: flex;
        align-items: flex-end;
        span {
          line-height: 1;
          margin-left: 15px;
          color: #828282;
          &:hover,
          &:focus {
            color: #0487d9;
          }
        }
      }
      .post-comment {
        margin-left: 20px;
        display: flex;
        align-items: flex-end;
        span {
          line-height: 1;
          margin-left: 15px;
          color: #828282;
          &:hover,
          &:focus {
            color: #0487d9;
          }
        }
      }
    }
  }
  &.featured-post {
    position: relative;
    z-index: 1;
    .post-data {
      padding: 30px 0;
      .post-title {
        h6 {
          font-size: 30px;
          line-height: 1.2;
          margin-bottom: 20px;
          font-weight: 500;
          @media (max-width: 767px) {
            font-size: 24px;
          }
        }
      }
      .post-author {
        margin-bottom: 15px;
        display: block;
        width: 100%;
        a {
          display: inline-block;
          color: #0487d9;
        }
      }
      .post-excerp {
        font-weight: 500;
        margin-bottom: 40px;
        display: block;
        line-height: 2.1;
        a {
          width: 1px !important;
          img {
            width: 1px !important;
          }
        }
      }
    }
  }
}
