.container {
  max-width: 1140px;
}
.mt-15 {
  margin-top: 15px !important;
}
.hero-area {
  position: relative;
  z-index: 1;
  padding: 50px 0 60px;
  .breaking-news-area {
    position: relative;
    z-index: 1;
    .news-title {
      min-width: 150px;
      height: 38px;
      background-color: #0487d9;
      text-align: center;
      padding: 0 20px;
      p {
        margin-bottom: 0;
        font-weight: 500;
        color: #fff;
        line-height: 38px;
        @media only screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
      &.title2 {
        background-color: #152535;
    }
      @media only screen and (max-width: 767px) {
        min-width: 100px;
        padding: 0 5px;
      }
    }

    .ticker{
      width: 600px;
      height: 38px;
      overflow: hidden;
      ul{
          li{
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          a{
            padding-top: 8px;
            padding-bottom: 30px;
            margin-bottom: 22px;
            display: block;
          }
        }
        li:first-child{
          animation: slide 15s linear infinite;
        }
        @keyframes slide {
          100%{
            margin-top: -240px;
          }
          95%{
            margin-top: -160px;
          }
          70%{
            margin-top: -160px;
          }
          65%{
            margin-top: -80px;
          }
          40%{
            margin-top: -80px;
          }
          35%{
            margin-top: 0;
          }
          5%{
            margin-top: 0;
          }
          0%{
            margin-top: 80px;
          }

        }
      }
    }

    .ticker1{
      width: 600px;
      height: 38px;
      overflow: hidden;
      ul{
        li{
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          a{
            padding-top: 8px;
            padding-bottom: 30px;
            margin-bottom: 22px;
            display: block;
          }
        }
        li:first-child{
          animation: slide 17.5s linear infinite;
        }
        @keyframes slide {
          100%{
            margin-top: -240px;
          }
          95%{
            margin-top: -160px;
          }
          70%{
            margin-top: -160px;
          }
          65%{
            margin-top: -80px;
          }
          40%{
            margin-top: -80px;
          }
          35%{
            margin-top: 0;
          }
          5%{
            margin-top: 0;
          }
          0%{
            margin-top: 80px;
          }
        }
      }
    }
  }
}

.hero-advertisement {
  position: relative;
  z-index: 1;
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    margin-top: 80px;
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
    margin-top: 80px;
    text-align: center;
  }
}
