<nav class="navbar navbar-expand-lg navbar-light bg-light sidebar sticky-top" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav style="width: 100%;z-index: 5;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin: auto;">
                <li class="nav-item">
                    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" style="font-size: 25px;"><i class="fas fa-home-lg-alt" style="margin-top: 3px;"></i></a>
                </li>
                <li class="nav-item dropdown"  *ngFor="let k of categories" (click)='this._navService.changeCategory(k.title[0].link)' (click)='this._navService.changeCategoryItem(k.empty[0].linkItem)'>
                    <a class="nav-link" [routerLink]="[k.title[0].url]" routerLinkActive="router-link-active" [ngClass]="{'active': selectedItemId === k}" (click)="selectedItemId = k" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      {{k.title[0].name}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li *ngFor="let c of k.child" (click)='this._navService.changeCategoryItem(c.linkItem)' [routerLink]="[c.linkItem]"><a class="dropdown-item">{{c.nameItem}}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" [routerLink]="['/about/']" routerLinkActive="router-link-active"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Giới Thiệu
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" [routerLink]="['/contact/']" routerLinkActive="router-link-active"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Liên Hệ
                  </a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thế giới
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Người Việt Năm Châu</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Góc Nhìn</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Hồ Sơ</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Quân Sự</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Kinh Tế Thế Giới</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Chuyện Lạ</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Tài chính - Kinh doanh
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Chứng Khoán</a></li>
                        <li><a class="dropdown-item" href="#">Doanh Nhân</a></li>
                        <li><a class="dropdown-item" href="#">Địa Ốc</a></li>
                        <li><a class="dropdown-item" href="#">Tiêu Dùng</a></li>
                        <li><a class="dropdown-item" href="#">Làm Giàu</a></li>
                        <li><a class="dropdown-item" href="#">Chính Sách - Phát Triển</a></li>
                        <li><a class="dropdown-item" href="#">Ngân Hàng</a></li>
                        <li><a class="dropdown-item" href="#">Doanh Nghiệp</a></li>
                        <li><a class="dropdown-item" href="#">Kinh Tế Xanh</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Đời sống
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Ẩm Thực</a></li>
                        <li><a class="dropdown-item" href="#">Gia Đình</a></li>
                        <li><a class="dropdown-item" href="#">Cộng Đồng</a></li>
                        <li><a class="dropdown-item" href="#">Người Sống Quanh Ta</a></li>
                        <li><a class="dropdown-item" href="#">Sống Xanh</a></li>
                        <li><a class="dropdown-item" href="#">Gương Sáng Biên Cương</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Văn hóa
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Câu Chuyện Văn Hóa</a></li>
                        <li><a class="dropdown-item" href="#">Thành Phố Tôi Yêu</a></li>
                        <li><a class="dropdown-item" href="#">Khảo Cứu</a></li>
                        <li><a class="dropdown-item" href="#">Xem - Nghe</a></li>
                        <li><a class="dropdown-item" href="#">Thương Nhớ Miền Trung</a></li>
                        <li><a class="dropdown-item" href="#">Hà Nội Thành Phố Tôi Yêu</a></li>
                        <li><a class="dropdown-item" href="#">Sống Đẹp</a></li>
                        <li><a class="dropdown-item" href="#">Món Ngon Hà Nội</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Giải trí
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Truyền Hình</a></li>
                        <li><a class="dropdown-item" href="#">Phim</a></li>
                        <li><a class="dropdown-item" href="#">Đời Nghệ Sĩ</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Giới trẻ
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Sống - Yêu - Ăn - Chơi</a></li>
                        <li><a class="dropdown-item" href="#">Thế Giới Mạng</a></li>
                        <li><a class="dropdown-item" href="#">Kết Nối</a></li>
                        <li><a class="dropdown-item" href="#">Đoàn - Hội</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Giáo dục
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Du Học</a></li>
                        <li><a class="dropdown-item" href="#">Chọn Nghề</a></li>
                        <li><a class="dropdown-item" href="#">Người Thầy</a></li>
                        <li><a class="dropdown-item" href="#">Chọn Trường</a></li>
                        <li><a class="dropdown-item" href="#">Hộp Thư Tư Vấn 24/7</a></li>
                        <li><a class="dropdown-item" href="#">Ôn Thi THPT Quốc Gia 2019</a></li>
                        <li><a class="dropdown-item" href="#">Tra Cứu Điểm Thi 2021</a></li>
                        <li><a class="dropdown-item" href="#">Tuyển Sinh 2021</a></li>
                        <li><a class="dropdown-item" href="#">Sức Khỏe Học Đường</a></li>
                        <li><a class="dropdown-item" href="#">Cẩm Nang Tuyển Sinh 2021</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thể thao
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Bóng Đá Việt Nam</a></li>
                        <li><a class="dropdown-item" href="#">Bóng Đá Quốc Tế</a></li>
                        <li><a class="dropdown-item" href="#">Bình Luận</a></li>
                        <li><a class="dropdown-item" href="#">Quần Vợt</a></li>
                        <li><a class="dropdown-item" href="#">Hậu Trường</a></li>
                        <li><a class="dropdown-item" href="#">Thể Thao Khác</a></li>
                        <li><a class="dropdown-item" href="#">Sea Games 2019</a></li>
                        <li><a class="dropdown-item" href="#">Tin Chuyển Nhượng</a></li>
                        <li><a class="dropdown-item" href="#">Thể Thao & Cộng Đồng</a></li>
                        <li><a class="dropdown-item" href="#">Bóng Rổ</a></li>
                        <li><a class="dropdown-item" href="#">Sôi Động Cùng V-League</a></li>
                        <li><a class="dropdown-item" href="#">Euro 2020</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sức khỏe
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Làm Đẹp</a></li>
                        <li><a class="dropdown-item" href="#">Giới Tính</a></li>
                        <li><a class="dropdown-item" href="#">Khoẻ Đẹp Mỗi Ngày</a></li>
                        <li><a class="dropdown-item" href="#">Sống Vui Khỏe</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Du lịch
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Khám Phá</a></li>
                        <li><a class="dropdown-item" href="#">A-Z</a></li>
                        <li><a class="dropdown-item" href="#">Săn Tour</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Công nghệ
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Sản Phẩm Mới</a></li>
                        <li><a class="dropdown-item" href="#">Kinh Nghiệm</a></li>
                        <li><a class="dropdown-item" href="#">Ý Tưởng</a></li>
                        <li><a class="dropdown-item" href="#">Xu Hướng</a></li>
                        <li><a class="dropdown-item" href="#">Chuyển Đổi Số</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Xe
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Xe</a></li>
                        <li><a class="dropdown-item" href="#">Thị Trường Xe</a></li>
                        <li><a class="dropdown-item" href="#">Tư Vấn Xe</a></li>
                        <li><a class="dropdown-item" href="#">Đánh Giá Xe</a></li>
                        <li><a class="dropdown-item" href="#">Khám Phá Xe</a></li>
                        <li><a class="dropdown-item" href="#">Video</a></li>
                        <li><a class="dropdown-item" href="#">Diễn Đàn Xe</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Game
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Tin Tức</a></li>
                        <li><a class="dropdown-item" href="#">Lịch Thi Đấu</a></li>
                        <li><a class="dropdown-item" href="#">Thủ Thuật</a></li>
                        <li><a class="dropdown-item" href="#">Phòng Máy</a></li>
                        <li><a class="dropdown-item" href="#">Công Nghệ Game</a></li>
                        <li><a class="dropdown-item" href="#">Cộng Đồng</a></li>
                        <li><a class="dropdown-item" href="#">Video</a></li>
                        <li><a class="dropdown-item" href="#">ESports</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Thời trang trẻ
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Phong Cách</a></li>
                        <li><a class="dropdown-item" href="#">Sống Khỏe</a></li>
                        <li><a class="dropdown-item" href="#">Chân Dung</a></li>
                        <li><a class="dropdown-item" href="#">Kỹ Năng Sống</a></li>
                        <li><a class="dropdown-item" href="#">Tận Hưởng</a></li>
                        <li><a class="dropdown-item" href="#">Tin Tức</a></li>
                        <li><a class="dropdown-item" href="#">Video</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
