a {
  cursor: pointer;
  padding: 10px;
}

#navbarDropdownMenuLink:hover {
  font-weight: bold;
  font-size: 15px;
  color: red;
}

.active {
  cursor: pointer;
}

.not-active {
  cursor: pointer;
}

.dropdown:hover > .dropdown-menu {
  display: block;
  font-weight: 400;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 2;
    }
  }
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-toggle::after {
  display: none;
}
