<div class="single-post featured-post-2">
    <div class="post-image">
        <a href="#"><img src="{{item.image}}" alt=""></a>
    </div>
    <div class="post-data">
        <!-- <a href="#" class="post-catagory"></a> -->
        <div class="post-meta">
            <a class="post-title" (click)="getTitle(item.title)">
                <h6>{{item.title}}</h6>
            </a>
            <p class="post-date" *ngIf="item.getDate()=='Hôm nay'">
                <span>{{item.getTime()}}</span>
            </p>
            <p class="post-date" *ngIf="item.getDate()!='Hôm nay'">
                <span>{{item.getTime()}}, </span>{{item.getDate()}}
            </p>
            <!-- Post Like & Post Comment -->
            <div class="d-flex align-items-center">
                <a href="#" class="post-like"><img src="../../../../assets/img/like.png" alt=""> <span>392</span></a>
                <a href="#" class="post-comment"><img src="../../../../assets/img/chat.png" alt=""> <span>10</span></a>
            </div>
        </div>
    </div>
</div>