<header class="header-area">
    <mat-toolbar color="#0487D9">
        <div class="logo">
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"><img src="assets/img/logo.png" alt="" style="height: 80px; width: 200px;"></a>
        </div>
        <div class="space"></div>
        <a mat-button (click)="openDialogLogin()">Đăng nhập</a>
        <a mat-button (click)="openDialogRegister()">Đăng ký</a>
        <div class="search-form">
            <form action="">
                <input type="search" name="search" class="form-control" placeholder="Tìm kiếm">
                <button type="submit"><i class="fa fa-search" aria-hidden="true" style="font-family: 'FontAwesome';"></i></button>
            </form>
        </div>
    </mat-toolbar>
    <div class="navbar">
      <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Trang Chủ</a>
      <a class="nav-link" [routerLink]="['/categories']" routerLinkActive="router-link-active" *ngFor="let k of categories" (click)='this._navService.changeCategory(k.url)' [ngClass]="{'active': selectedItemId === k}" (click)="selectedItemId = k" >{{k.name}}</a>
    </div>
</header>
