<header class="header-area">
    <div class="top-header-area">
        <div class="container">
            <div class="col-12">
                <div class="top-header-content">
                    <div class="logo">
                        <a href=""><img src="assets/img/logo.png" alt=""></a>
                    </div>
                    <div class="login-register-search">
                        <div class="login">
                            <a href="">Đăng nhập</a>
                            <a href="">Đăng ký</a>
                        </div>
                        <div class="search-form">
                            <form action="">
                                <input type="search" name="search" class="form-control" placeholder="Tìm kiếm">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="main-menu" id="stickyMenu">
        <div class="class-nav-container">
            <div class="container">
                <nav class="class-navbar justify-content-between" id="mainNav">
                    <div class="class-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="class-menu">
                        <div class="classcloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classnav">
                            <ul class="nav-menu">
                                <li class="active" class="nav-item"><a href="">Trang chủ</a></li>
                                <li class="nav-item"><a href="#">Xã hội</a></li>
                                <li class="nav-item"><a href="#">Sức khỏe</a></li>
                                <li class="nav-item"><a href="#">Giải trí</a></li>
                                <li class="nav-item"><a href="#">Thể thao</a></li>
                                <li class="nav-item"><a href="#">Thế giới</a></li>
                                <li class="nav-item"><a href="#">Văn hóa</a></li>
                                <li class="nav-item"><a href="#">Pháp luật</a></li>
                                <li class="nav-item"><a href="#">Đời sống</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div> -->

    <mat-toolbar style="border: 1px #000; position: relative; top: -20px;">
        <div class="spacer"></div>
        <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">Trang chủ</a>
        <a mat-button [routerLink]="['/xahoi']" routerLinkActive="router-link-active">Xã hội</a>
        <a mat-button [routerLink]="['/suckhoe']" routerLinkActive="router-link-active">Sức khỏe</a>
        <a mat-button [routerLink]="['/giaitri']" routerLinkActive="router-link-active">Giải trí</a>
        <a mat-button [routerLink]="['/thethao']" routerLinkActive="router-link-active">Thể thao</a>
        <a mat-button [routerLink]="['/thegioi']" routerLinkActive="router-link-active">Thế giới</a>
        <a mat-button [routerLink]="['/vanhoa']" routerLinkActive="router-link-active">Văn hóa</a>
        <a mat-button [routerLink]="['/phapluat']" routerLinkActive="router-link-active">Pháp luật</a>
        <a mat-button [routerLink]="['/doisong']" routerLinkActive="router-link-active">Đời sống</a>
        <a mat-button [routerLink]="['/about']" routerLinkActive="router-link-active">Giới thiệu</a>
        <a mat-button [routerLink]="['/contact']" routerLinkActive="router-link-active">Liên hệ</a>
    </mat-toolbar>

</header>