<div class="single-post style-2">
    <div class="post-image">
        <a href="#" target="_blank"><img src="{{item.image}}" alt=""></a>
    </div>
    <div class="post-data">
        <a class="post-title" (click)="getTitle(item.title)">
            <h6>{{item.title}}</h6>
        </a>
        <div class="post-meta">
            <p class="post-date" *ngIf="item.getDate()=='Hôm nay'">
                <span>{{item.getTime()}}</span>
            </p>
            <p class="post-date" *ngIf="item.getDate()!='Hôm nay'">
                <span>{{item.getTime()}}, </span>{{item.getDate()}}
            </p>
        </div>
    </div>
</div>