
.login-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login-table {
    max-width: 350px;
    padding: 40px 32px 10px 38px;
    position: relative;
}

.login-content {
    .login-heading {
        width: 100%;
        font-size: 30px;
        font-weight: 700;
        color: #000000;
        text-align: center;
        padding-bottom: 25px;
    }
    .btn {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 13px;
    }
    .form-btn {
        justify-content: center;
        align-items: center;
        width: 200px;
        font-family: 'Poppins', sans-serif;
        padding: 10px 25px;
        color: #ffffff;
        font-weight: 600;
        background-color: #0487d9;
        border: 1px solid transparent;
        border-radius: 0px;
        -webkit-transition: .8s ease !important;
        -o-transition: .8s ease !important;
        transition: .8s ease !important;
    }
    .form-btn:hover {
        cursor: pointer;
        background-color: #f2c84b;
    }
}

.modal-conten {
    width: 130%;
}

.wrap-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pix-text {
    outline: none;
    border: 1px solid #cbcbcb;
    display: block;
    width: 280px;
    background: white;
    border-radius: 10px;
    font-size: 14px;
    opacity: .8;
    color: black;
    padding: 10px 15px;
}

.message {
    margin: 10px 20px;
    width: 85%;
    font-size: 13px;
    text-align: center;
    a {
        color: #d9a404;
        text-decoration: none;
        transition: .8s ease !important;
        cursor: pointer;
        &:hover {
            color: #0487d9;
        }
    }
}

.login_btn {
    width: 100%;
    font-size: 14px;
    padding: 15px;
    color: #858282;
    text-align: center;
}

.padding_25 {
    width: 40%;
    text-align: center;
    margin: auto;
    ul {
        padding-left: 0;
        &>li {
            list-style-type: none;
        }
    }
    a {
        text-decoration: none;
        font-size: 20px;
    }
}

.circle {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 10px 0px rgb(168, 168, 168);
    transition: .8s ease !important;
    &:hover {
        box-shadow: 0px 0px 10px 0px rgb(50, 50, 50);
    }
}

.facebook {
    background: rgb(37, 14, 185);
    float: left;
    color: white;
}

.google {
    float: right;
    background: red;
    color: white;
}

.text-alert {
    display: none;
    color: red;
    border-radius: 5px;
    font-size: 14px;
    p {
        margin: 12px 3px;
        position: absolute;
    }
}


/* ---------------FORGET------------------- */

.forget-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: contents;
    flex-wrap: wrap;
    justify-content: space-between;
    display: none;
}

.forgetPw {
    width: 97%;
    margin: 0px 0px 0px 150px !important;
}

.box {
    &--spacing {
        margin-top: 1.3rem;
        .row {
            padding: 12px;
            margin: 0 !important;
        }
    }
    &__title {
        font-family: Roboto, sans-serif;
        font-size: 1.6rem;
        margin: 0px;
        font-weight: bold;
        text-align: center;
    }
    &__decoration {
        border-bottom: 1px solid #000;
        margin: 0.5rem 7rem;
        margin-bottom: 1rem;
    }
    @media screen and (min-width:600px) {
        &--spacing {
            margin-top: 1.3rem;
            .row {
                padding: 12px;
                margin: 0 61.136px !important;
            }
        }
        &__title {
            font-family: Roboto, sans-serif;
            font-size: 1.6rem;
            margin: 1.2rem 0 0 4.8rem;
            font-weight: bold;
            text-align: left;
        }
        form {
            margin: 1rem 4.6rem;
        }
    }
}

.form-control {
    width: 300px;
}