<!-- <div class="login-content">
    <div class="login-table">
        <form class="register-form" id="" method="get" action="register">
            <span class="login-heading">Đăng Kí </span>
            <div class="wrap-input ">
                <input class="pix-text" type="text" placeholder="Họ và tên">
            </div>
            <div class="wrap-input">
                <input class="pix-text" type="text" placeholder="Tên đăng nhập">
            </div>
            <div class="wrap-input ">
                <input class="pix-text" type="text" placeholder="Nhập email">
            </div>
            <div class="wrap-input ">
                <input class="pix-text" id="pass" type="password" name="pass" placeholder="Nhập mật khẩu">
            </div>
            <div class="btn">
                <button class="form-btn">ĐĂNG KÍ</button>
            </div>
            <div class="message">
                <a (click)='openDialogLogin()'> Đăng Nhập</a>
            </div>
        </form>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Đóng</button>
</mat-dialog-actions> -->

<!-- test -->
<!-- <div class="box">
    <div class="box__title">
        <p style="margin-left: 35%;font-size: 25px;">Đăng ký</p>
    </div>
    <form #registerForm="ngForm" (ngSubmit)="registerForm" novalidate>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" required email #email="ngModel"  id="inputEmail4" name="email" placeholder="abc@gmail.com" ngModel>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Mật khẩu</label>
                <input type="password" class="form-control" required minlength="8" #password="ngModel" id="inputPassword4" name="password" placeholder="Mật khẩu tối thiểu 8 kí tự" ngModel>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAccount">Tài khoản</label>
            <input type="text" class="form-control" id="inputAccount" name="account" placeholder="Tên tài khoản" ngModel>
        </div>
        <div class="form-group">
            <label for="inputFullName">Tên đầy đủ</label>
            <input type="text" class="form-control" id="inputFullName" name="fullName"  placeholder="Tên đầy đủ" ngModel>
        </div>
        <div class="form-group">
            <label for="inputPhoneNumber">Số điện thoại</label>
            <input type="text" class="form-control" required minlength="10" maxlength="12" pattern="^[0-9]+$" id="inputPhoneNumber" name="phoneNumber" placeholder="Nhập số điện thoại" ngModel>
        </div>

        <button type="submit" id="submit" style="margin-left: 35%;margin-top: 10px;" class="btn btn-primary">Đăng ký</button>
    </form>
    
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Đóng</button>
</mat-dialog-actions> -->
<div class="login-content">
    <div class="login-table">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form" id="form" method="get" action="register">
          <span class="login-heading">Đăng Ký </span>
          <div class="wrap-input">
            <input
              type="text"
              formControlName="fullname"
              class="pix-text"
              [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
              placeholder="Họ và tên"
            />
            <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
              <div *ngIf="f.fullname.errors.required">Chưa nhập họ tên</div>
            </div>
          </div>
      
          <div class="wrap-input">
            <input
              type="text"
              formControlName="username"
              class="pix-text"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              placeholder="Tên đăng nhập ( Tối thiểu 6 ký tự )"
            />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Chưa nhập tên đăng nhập</div>
              <div *ngIf="f.username.errors.minlength">
                Tên đăng nhập tối thiểu 6 ký tự
              </div>
              <div *ngIf="f.username.errors.maxlength">
                  Tên đăng nhập tối đa 20 ký tự
              </div>
            </div>
          </div>
      
          <div class="wrap-input">
            <input
              type="text"
              formControlName="email"
              class="pix-text"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              placeholder="Nhập Email"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Chưa nhập email</div>
              <div *ngIf="f.email.errors.email">Email không hợp lệ</div>
            </div>
          </div>
      
          <div class="wrap-input">
            <input
              type="password"
              formControlName="password"
              class="pix-text"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              placeholder="Mật khẩu ( Tối thiểu 8 ký tự )"
            />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Chưa nhập password</div>
              <div *ngIf="f.password.errors.minlength">
                Mật khẩu tối thiểu 8 ký tự
              </div>
              <div *ngIf="f.password.errors.maxlength">
                  Mật khẩu tối đa 40 ký tự
              </div>
            </div>
          </div>
      
          <div class="wrap-input">
            <input
              type="password"
              formControlName="confirmPassword"
              class="pix-text"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
              placeholder="Nhập lại mật khẩu"
            />
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">
                Chưa nhập lại mật khẩu
              </div>
              <div *ngIf="f.confirmPassword.errors.matching">
                  Xác nhận mật khẩu không khớp
              </div>
            </div>
          </div>
      
          <!-- <div class="wrap-input form-check">
            <input
              type="checkbox"
              formControlName="acceptTerms"
              class="form-check-input"
              [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
            />
            <label for="acceptTerms" class="form-check-label"
              >I have read and agree to the Terms</label>
            <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">
              Accept Terms is required
            </div>
          </div> -->
      
          <div class="btn">
              <button class="form-btn">ĐĂNG KÝ</button>
          </div>
          <div class="message">
              <a (click)='openDialogLogin()'> Đăng Nhập</a>
          </div>
        </form>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Đóng</button>
  </mat-dialog-actions>