
i{
  color: #fff;
}
a {
    position: fixed;
  background-color: #0487d9;
  border-radius: 0;
  bottom: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 24px;
  height: 40px;
  line-height: 38px;
  right: 60px;
  text-align: center;
  width: 40px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  z-index: 3;
  &:hover {
    background-color: #000000;
  }
  @media only screen and (max-width: 767px) {
    bottom: 30px;
    right: 30px;
  }
}
