<!-- Single Featured Post -->
<div class="single-post featured-post" *ngFor="let i of rssData!.rss.channel[0].item; index as index1 ">
    <div class="post-image">
        <a href="#"><img class="col-lg-12 col-md-12 col-sm-12" src="{{i.image}}" alt=""></a>
    </div>
    <div class="post-data" *ngFor="let a of rssData!.rss.channel;index as index">
        <a href="#" class="post-catagory">{{a.title}}</a>
        <a href="#" class="post-title">
            <h6>{{i.title}}</h6>
        </a>
        <div class="post-meta">
            <!-- <p>{{i.description[0]}}</p> -->
            <!-- <p class="post-author">Tác giả <a href="#">Thiện Nhân</a></p> -->
            <div>
                <a href="">{{i.title}}</a><br/> {{ checkData(index).innerText }}
                <!-- {{ checkData(index).getElementsByTagName('a')[0].href }} -->

                <p innerHtml="{{i.description}}"></p>
                <p innerHtml="{{ checkData(index)}}"></p>
            </div>

            <div #dataDOM></div>
            <!-- Post Like & Post Comment -->
            <div class="d-flex align-items-center">
                <a href="#" class="post-like"><img src="assets/img/like.png" alt=""> <span>392</span></a>
                <a href="#" class="post-comment"><img src="assets/img/chat.png" alt=""> <span>10</span></a>
            </div>
        </div>
    </div>
</div>

<!-- <h2>
{{RssData!.rss.channel[0].title[0]}}
</h2>
Total Item: {{RssData!.rss.channel[0].item.length}}
<ul>
<li *ngFor="let o of RssData!.rss.channel[0].item">
  <a href="{{o.link[0]}}">{{o.title[0]}}</a>
</li>
</ul> -->